<div class="content_principal">
  <header>
    <nav class="content">
      <a href="index.html" class="logo">ᚢᛚᛒ</a>
      <div class="links">
          <a href="#">Citas</a>
          <a href="contents/about.html">Servicios</a>
          <a href="#">Información</a>
          <a href="#">Sedes</a>
      </div>
      <a href="#modal" class="log">Login</a>
      <div class="burger">
          <i class="fas fa-bars" id="burger"></i>
      </div>
  </nav>
  </header>
  
  <div class="body">
    <div class="avatar_ulv">
      <img class="avatar_img" src="https://i.pinimg.com/originals/f8/29/5d/f8295ddaeac245387d63f92cca89ee28.png" alt="">
    </div>
    <span class="titulo_ulv">ᚢᛚᛒ <br> {{ title }}</span>
    <div class="terminal">
      <div class="head_terminal">
        <div class="close"></div>
        <div class="maximise"></div>
        <div class="minimise"></div>
      </div>
      <div class="body_terminal">
        <p>ng ¡Bienvenid@! user 01101</p>
      </div>
    </div>
  </div>
  
  <footer>
    <div class="logo_ulv_footer"></div>
    <div class="footer_menu">
      <ul>
        <li>Contactenos</li>
        <li>Trabaje con nosotros</li>
        <li>Mas servicios</li>
        <li>Ciudades</li>
      </ul>
    </div>
  </footer>
</div>